#DEFAULT (profile padrão)
spring:
  application:
    name: locadora

--- #(---) dividi os arquivos

# TEST (profile “test”)
spring:
  config:
    activate:
      on-profile: test

  application:
    name: locadora-test

  data-source:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true