spring:
  application:
    name: JPA-SQL-JPQL

  profiles:
    active: test

---
# TEST PROFILE
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:jpa_sql_jpql
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true